section.section.interface
  .interface__header
    h2.interface__title Beautiful Interface
    h5.interface__title_small landing screen
  .interface__container.slide__container
    .slide__item  
      img.slide__img(src=require("./Screen1.png"), alt="iPhone 6")
    .slide__item  
      img.slide__img(src=require("./Screen2.png"), alt="iPhone 6")
    .slide__item  
      img.slide__img(src=require("./ScreenMain.png"), alt="iPhone 6")
    .slide__item  
      img.slide__img(src=require("./Screen3.png"), alt="iPhone 6")
    .slide__item  
      img.slide__img(src=require("./Screen4.png"), alt="iPhone 6")